
.lightGrey{
    background-color: #383838;
}

.darkGrey{
    background-color: #2f3136;
}

.dropDown div a {
    display: none;
    padding: 0;
    margin-left: auto;
    margin-right: auto;
    font-family: franklin gothic heavy;
    color: white;
    text-decoration: none;
}

a{
    text-decoration: none;
}

.dropDown ul{
    display: none;
    padding-right: 0;
    padding-left: 0;
    text-align: center;
    margin-top: 3px;
    margin-bottom: 3px;
    border-radius: 25px;
    width: inherit;
}

.dropDown:hover ul{
    display: flex;
    height: 1em;
}

div.dropDown {
    display: none;
    width: 100%;
    padding-right: 0;
    padding-left: 0;
    text-align: center;
    margin-top: 0;
    border-radius: 25px;
    width: inherit;
}

.dropDown:hover div{
    display: flex;
    flex-direction: column;
}

.dropDown:hover div a {
    display: block;
}

.topBar{
    height: 1.3cm;
    padding: 0;
    width: 100%;
    display: inline-flex;
    margin: 0;
    text-align: center;
}

.topBar p{
    font-family: franklin Gothic Heavy;
    color: white;
    padding: 0;
    margin: 0;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 30px;
    margin-right: 30px;
    font-size: 25px;
    overflow-x: hidden;
    white-space: nowrap;
}

a.topBar{
    font-family: franklin Gothic Heavy;
    color: white;
    padding: 0;
    margin: 0;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 30px;
    margin-right: 30px;
    font-size: 25px;
    overflow-x: hidden;
    white-space: nowrap;
}

.topBar ul li{
    margin-top: 8px;
    list-style-type: none;
}

ul .topBar {
    padding: 0;
    width: 100%;
    display: inline-flex;
    overflow-y: visible;
}

.topBar p:hover{
    cursor: pointer;
}

.darkGreyBorder{
    border-width: 3px;
    border-color: #1f1f1f;
    border-style: solid;
}

.bottomCorner{
    position: fixed;
    left: 0;
    bottom: 0;
    align-items: center;
    flex-direction: column-reverse;
    flex-grow: 1;

    border-top-right-radius: 25px;
}

.bottomCorner p:hover{
    cursor: pointer;
}

.bottomCorner p{
    font-family: franklin Gothic Heavy;
    color: white;
}

.bottomCorner a{
    font-family: franklin Gothic Heavy;
    color: white;
    }
