.desktop {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: calc(100% - 40px);
    background-color: blueviolet;
    grid-template-columns: repeat(18, 1fr);
    overflow: hidden;
}

.desktopRow {
    display: flex;
    justify-content: baseline;
    overflow: hidden;
}

.desktopTile {
    position: relative;
    min-width: 100px;
    height: 110px;
    width: 100px;
    background-color: yellow;
    margin: 5px;
    overflow-y: hidden;
    overflow-x: hidden;
}

.taskbar {
    display: flex;
    position: absolute;
    bottom: 0px;
    height: 40px;
    width: 100%;
    background-color: brown;
    left: 0;
    justify-content: space-between;
}

.startbtn {
    width: 75px;
    height: calc(100% - 6px);
    margin: 3px;
    background-color: yellow;
}

.clock {
    width: 150px;
    height: calc(100% - 6px);
    margin: 3px;
    background-color: yellow;
}

.appTray {
    width: 100%;
    height: calc(100% - 6px);
    margin: 3px;
    background-color: yellow;
}